<div class="gamenights_widget">
  <div class="new_gamen_button"> <%= link_to "Create a new Gamenight", :new_gamenight %></div>
    <%= render :partial => "gamenights/widget"%>
</div>

<div class="notifications_widget">

    <%= render :partial => "notifications/my_notifications"%>
</div>
<div class="clear"></div>