<%= button_to "New Gamenight", :new_gamenight %>
<div class="gamenights_widget">
    <%= render :partial => "gamenights/widget"%>
</div>

<div class="notifications_widget">

</div>
<div class="clear"></div>