* {
    outline: none;
}

.notice{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 15px #A6A6A6;
    font-family: 'Droid Sans',Arial;
    font-size: 16px;
    height: 18px;
    margin: 0 auto 53px;
    padding: 10px;
    position: relative;
    width: 500px;
}

.negative{
	background-color: #B92734;
}
.positive{
	background-color: #ccffcc;
}

body {
    background: url("../images/body-bg.png") repeat scroll 0 0 transparent;
    color: #343434;
    font: 13px arial, verdana, arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


td.user_avatar {
        float: left;
    border-top: 1px solid #E8E8E8;
       padding: 3px 10px;
    text-align: center
}

td.target_link {
    border-top: 1px solid #E8E8E8;
       padding: 0px 6px;
}
td.message {
    border-top: 1px solid #E8E8E8;
       padding: 0px 6px;
}
td.actions {
    border-top: 1px solid #E8E8E8;
       padding: 0px 6px;
}



table#notifications{
    border-spacing: 0;
    clear: left;
    font-size: 11px;
    line-height: 1.18182em;
    width: 400px;
}

#container {
    background: url("../images/header-bg.png") repeat-x scroll left top transparent;
    position: relative;
}
#header {
    height: 74px;
    margin: 0 20px;
    position: relative;
    /*width: 930px;*/
}

#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px #C6C6C6;
    margin: -10px auto 10px;
    padding: 22px 15px;
    position: relative;
    width: 1000px;
}

a {
    color: #ff6600;
    text-decoration: none;
}

#logo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 8px;
}
#logo li{
    list-style: none;
}

#nav {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 23px;
}
#nav li, #countdown li {
    position: relative;
    list-style: none;
    margin: 0 0 0 8px;
    padding: 0;
    float: left;
}

#content h1 {
    margin: 0 0 40px 0;
    padding: 0;
    font-family: 'Droid Sans', Arial;
    font-weight: normal;
    color: #363636;
    font-size: 35px;
}
#content h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: 'Droid Sans', Arial;
    font-weight: normal;
    color: #363636;
    font-size: 25px;
}
#content h3 {
    font-family: 'Droid Sans', Arial;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
#content h4 {
    color: #343434;
    font-family: 'Droid Sans', Arial;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}

.new_gamenight_button a{
    color: #333333;
}
.new_gamenight_button:hover{

    background-color: #faffe3;
}
.new_gamenight_button{
    -webkit-box-shadow: 0px 0px 0px #171717;
    -moz-box-shadow: 0px 0px 5px #171717;
    box-shadow: 0px 0px 5px #171717;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: #E0E4CC;
    font-size: 20px;
    margin: 0 0 17px 11px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 410px;

    text-shadow: 1px 0px 2px #EEEEEE;

    font-family: 'GentiumBasicRegular',Tahoma,Geneva,sans-serif;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    transition: background 200ms linear;
}

.profile_box {
  padding: 10px;
  width: 300px;
  float: left;
}

#content .profile_box h1 {
  margin: 0;
  font-size: 17px;
}

.games_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.games_list li {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
}


ul.token-input-list-facebook { 
  clear: none !important;
}

.gamenights_widget{
    width: 480px;
    padding: 0 20px 0 8px;
    float:left;
}

.gamenight_tile_head{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:468px;
    padding: 5px;
    border: 1px solid black;
}

.gamenight_tile{
    -webkit-box-shadow: 0px 0px 0px #171717;
    -moz-box-shadow: 0px 0px 5px #171717;
    box-shadow: 0px 0px 5px #171717;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;


    text-shadow: 1px 0px 2px #EEEEEE;
}

.gamenight_avatar{
    float: left;
}
.gamenight_name{
    float: left;
    font-family: 'Droid Sans', Arial;
    font-size: 20px;
    margin-left: 5px;
}
.gamenight_description{
    margin-left: 5px;
    float: left;
}

#top_pattern {
    background: url("../images/pattern.png") repeat scroll 0 0 transparent;
    border-bottom:1px solid black;
   height: 5px;
}
.gamenight_tile_body{
    height:419px;
}

.notifications_widget{

    -webkit-box-shadow: 0px 0px 0px #171717;
    -moz-box-shadow: 0px 0px 5px #171717;
    box-shadow: 0px 0px 5px #171717;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    margin: 0 0 0 30px;
    padding: 20px;
    position: relative;
    text-align: left;
    width: 410px;

    text-shadow: 1px 0px 2px #EEEEEE;

    font-family: 'GentiumBasicRegular',Tahoma,Geneva,sans-serif;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    transition: background 200ms linear;

    width: 400px;
    height: 500px;
    float:left;
}

.clear{
    clear: both;
}
