.user_list { list-style: none; }
.user_list li { float: left; width: 120px;}

.user_list p { margin: 0 auto; text-align: center; }
.user_list a { text-decoration: none; }
.user_list .user_avatar img { border: 1px solid gray; }
.clear_fix { clear: both; }

.avatar { float: left; margin-right: 15px; margin-bottom: 40px;}
#content .full_name { margin: 0px;}
#content .user_name { margin: 0; color: #ababab;}