<h1>Games known to Gamenight.pl</h1>
<%= link_to 'New game', :controller => "games", :action => "new"%>

<ul>
<% @games.each do |game| %>
  <li>
    <%= image_tag game.cover.thumb.url if game.cover.thumb.url %>
    <%= link_to game.name, edit_game_path(game) %>
  </li>
<% end %>
</ul>
