<h1>Listing user_sessions</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>persisted? <%= @user_session.persisted? %></td>
  </tr>
</table>

<br />

<%= link_to 'New User session', new_user_session_path %>
